<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='editlesson.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename='editlesson.js') }}"></script>
</head>

<body>
    <a class="logoutbutton" href="{{ url_for('logout') }}">Log out</a>
    <div class="infobeam">
    <table class="infotable">
        <tbody>
            <tr>
                <td class="infocell"></td>
                <td class="infocell"></td>
                <td class="infocell"></td>
            </tr>
        </tbody>
    </table>
</div>
    
<button onclick="openaddsong_gui()" id="add_song" class="plus_song">+</button>

<div Id="addsong_gui"class="addsong_gui">
<p class="addsong_guititle">Add a song</p> <button onclick="closeaddsong_gui()" class="cancelgui">&times;</button>
<div class="songsearch">
    <input class="searchsonginput" placeholder="Browse songs:" id="searchsonginput" onkeyup="filterFunction()" onfocus="showlist(this)">
    <div class="songdropdown" id="songdropdown">
        <a href="doesnt matter">Buddy Holly</a>
        <a href="rickroll for moos4">Never Gonna Give You Up</a>
    </div>
</div>
<p class="song_info_p" id="bmp">debugging</p>
<p class="song_info_p" id="energy">debugging</p>
<p class="song_info_p" id="duration">debugging</p>

</div>

</body>
</html>