<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='editlesson.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename='editlesson.js') }}"></script>
</head>

<body onload="piechart([130,120,50,60])">
    <a class="genericbutton" href="{{ url_for('logout') }}">Log out</a>
    <div class="infobeam">
    <table class="infotable">
        <tbody>
            <tr>
            <td class="infocell">
                <canvas id="energychart" width="150" height="150"></canvas>
            </td>
                <td class="infocell"></td>
                <td class="infocell"></td>
            </tr>
        </tbody>
    </table>
</div>

<button onclick="openaddsong_gui()" id="add_song" class="plus_song">+</button>

<div Id="addsong_gui"class="addsong_gui">

<p class="addsong_guititle">Add a song</p> <button onclick="closeaddsong_gui()" class="cancelgui">&times;</button>
    <form method="post">
        <div class="songsearch">
        <input
        class="searchsonginput"
        placeholder="Browse songs:"
        id="searchsonginput"
        name="searchsong"
        onkeyup="fetchSongs()"
        onfocus="showlist()"
        />

        <div class="songdropdown" id="songdropdown"></div>
        </div>
    </form>
<br>
<br>
<p class="song_info_p"><b>BPM:</b>&nbsp;<span id="bpm">No song selected</span></p>
<br>
<p class="song_info_p"><b>Engery:</b>&nbsp;<span id="energy">No song selected</span></p>
<br>
<p class="song_info_p"><b>Duration:</b>&nbsp;<span id="duration">No song selected</span></p>
<button class="addsongbutton; genericbutton" type="submit" id="addsongbutton">Add Song</button>
</div>

</body>
</html>