<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
<script type="text" src="{{ url_for('static', filename='index.js') }}"></script>
</head>
<body>
<div class="passbg">
    <button class="signup_popupbutton" id="signup_popupbutton">Sign up here.</button>
    <table class="logintable">
        <tbody>
            <tr><td class="loginmail"><input placeholder="Email:" class="loginemailinput"></td></tr>
            <tr><td class="loginpassword"><input class="loginpasswordinput" placeholder="Password:" type="password"></td></tr>
            <tr><td class="loginsubmit"><button class="loginsubmitbutton"><a class="loginsubmitlink" href="editlesson.html">Log In Now</a></button></td></tr>
        </tbody>
</table>
</div> 

</body>
</html>