<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
<div class="infocontainer">
  <h1></h1>
</div>

<div class="logincontainer">
  <img src="https://img.freepik.com/premium-vector/person-icon-design-template-isolated-avatar-sign-vector-illustration_109161-3505.jpg?w=360" alt="no" width="60px" height="60px" style="border-radius:60px;">
  <a
  class="genericbutton"
  style="
    width: 80px;
    height: 40px;
    color: black;
    text-decoration: none;
    top:10px;
    right:10px;
    border-radius:25px;
    z-index:10;
    box-shadow:none;
    padding:0px;
    "
  href="moos4/spinning-site/templates/login.html">Login
  </a>
</div>

</body>

</html>