<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
<div class="container">
  <h2>Sign Up</h2>
  <form method="POST">
    <input placeholder="Username" name="username" required><br>
    <input placeholder="Password" name="password" type="password" required><br>
    {% if error %}
      <p style="color:red">{{ error }}</p>
    {% endif %}
    <button type="submit">Create Account</button>
  </form>
  <p>Already have an account? <a href="{{ url_for('login') }}">Log in here</a>.</p>
</div>
</body>
</html>
